<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Favorites</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>favorites_icloud_sync</string>
			<key>Title</key>
			<string>iCloud Sync</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Operation</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>shake_do_nothing</string>
			<key>Key</key>
			<string>operation_shake</string>
			<key>Title</key>
			<string>Shake</string>
			<key>Titles</key>
			<array>
				<string>Do nothing</string>
				<string>Update channels</string>
				<string>Play random</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>shake_do_nothing</string>
				<string>shake_update_headline</string>
				<string>shake_play_random</string>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string></string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>1.0.9</string>
			<key>Key</key>
			<string>app_version</string>
			<key>Title</key>
			<string>Version</string>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
		</dict>
		<dict>
			<key>File</key>
			<string>About</string>
			<key>Title</key>
			<string>About</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
