<html>
  <head>
    <style type="text/css">
      body {
        background-color:black;
        color:#FFFFFF;
        font-family:Helvetica,Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-image:url("about_wallpaper.png");
        /* For iPhone Retina */
        @media only screen and (-webkit-min-device-pixel-ratio: 2) {
          background-image:url("about_wallpaper@2x.png");
        }
      }
      #product_name {
        text-align:center;
        margin-top:24px;
      }
      .product_name_main {
        font-size:24px;
      }
      .product_name_sub {
        font-size:16px;
      }
      #version_info {
        text-align:center;
        font-size:16px;
        color:#FFBE1E;
        margin-top:16px;
      }
      #build_date {
        text-align:center;
        font-size:14px;
        margin-top:16px;
      }
      #copyright {
        text-align:center;
        font-size:14px;
        margin-top:18px;
      }
      #content {
        font-size:12px;
        margin:0px 20px 0px 20px;
        margin-top:18px;
      }
      a {
        color:#FFBE1E;
      }
    </style>
  </head>
  <body>
    <div id="product_name">
      <span class="product_name_main">{{app_name}}</span>
      <span class="product_name_sub">for iPhone</span>
    </div>
    <div id="version_info">
      {{version_info}}
    </div>
    {{#build_date}}
    <div id="build_date">
      Build {{build_date}}
    </div>
    {{/build_date}}
    <div id="copyright">
      © 2012 Yuichi Hirano
    </div>
    <div id="content">
      <p>
        This software is used the following libraries.
        <ul>
          <li>
            EGOTableViewPullRefresh<br />
            Copyright 2009 enormego
          </li>
          <li>
            FBNetworkReachability<br />
            Copyright (c) 2011 Hiroshi Hashiguchi
          </li>
          <li>
            GRMustache<br />
            Copyright (c) 2012 Gwendal Roué
          </li>
          <li>
            IIViewDeckController<br />
            Copyright (C) 2011, Tom Adriaenssen
          </li>
          <li>
            JRSwizzle<br />
            Copyright (c) 2007-2011 Jonathan 'Wolf' Rentzsch
          </li>
          <li>
            SVProgressHUD<br />
            Copyright (c) 2011 Sam Vermette
          </li>
        </ul>
      </p>
      <p>
        This software is used the following recource.
        <ul>
          <li>
            Gentleface Toolbar Icon Set<br />
            Copyright © 2009 Gentleface
          </li>
        </ul>
      </p>
    </div>
  </body>
</html>