
<html>
  <head>
    <style type="text/css">
      body {
        background-color:#3C3C3C;
        color:#FFFFFF;
        font-family:Helvetica,Verdana,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
      }
      a {
        color:#FFBE1E;
      }
      div.content {
        padding-top:0.25em;
        padding-bottom:0.25em;
        border-bottom:1px solid #707070;
      }
      div.tag {
        font-size:small;
      }
      div.value {
        margin-left:1.0em;
        font-weight:bold;
        word-break:break-all;
      }
    </style>
  </head>
  <body>
    {{#channels}}
    <div class="content">
      <div class="tag">
        {{tag}}
      </div>
      <div class="value">
        {{{value}}}
      </div>
    </div>
    {{/channels}}
  </body>
</html>
